@charset "utf-8";
/* CSS Document */

/*--------------------------
//Modal
//-------------------------*/
@media only screen and (min-width: 48em)
.reveal-modal {
	.reveal-modal{
		top: 1em;
	}
}
.reveal-modal-bg {
	background: rgba(26, 26, 26, 0.7);
}
.reveal-modal {
	background-color:#f2f2f2;
}
